#landing-div{
    width: 100%;   
    /* border: 1px solid black; */
    
    margin: auto;
    min-width:800px;
    max-width: 1200px;
}
@media (max-width: 748px){
    #landing-div{
        min-width: auto; /* ✅ 이거 중요 */
        width: 100%;
    }
}
.landing_info{
    border-radius: 30px;
    margin-top: 34px;
}
#landing-session-1{
    background-image: url('../../public/juapr35.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.landing-desc{
    font-size: 60px;
    color: rgb(111, 111, 111);
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 700;
}
#landing-session-desc{
    padding-top: 200px;
    padding-left: 300px;
}
#landing-session-2{
    border: 1px solid black;
}
#landing-session-2>h1{
    font-size: 50px;
    font-weight: 500;
}
#landing-session-2>p{
    font-size: 30px;
    font-weight: 500;
}
#landing-session-2-imgs{
    display: flex;
    justify-content: space-around;
}
#project-btn{
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;   
}
#landing-session-2-imgs>img{
    border: 1px solid black;    

}