#login-container{
    margin: auto;
    display: grid;
    height: 650px;
    width: 488px;   
}
#login-desc{
    margin: auto;
    height: 200px;
}
#login-desc>h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
}
#login-input>input{
    border: 1px solid black;
    width: 488px;
    height: 56px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}
#login-input{
    display: grid;
    margin: auto;
}
#sub-login-btn{
    margin-top: 25px;
}
#sub-login-btn>button{
    border: 1px solid black;
    border-radius: 20px;
    width: 488px;
    height: 40px;
    background-color: rgb(60, 60, 60);
    color: wheat;
}
#sub-login-btn>p{
    text-align: center;
}
#login-input>input::placeholder{
    
}
#git-login-btn>img{
    width: 24px;
    height: 24px;
    margin: 0;
}
#git-login-btn{
    display: flex;
    margin: 0 auto;
    gap: 10px;
    align-items: center;      /* 수직 정렬: 아이콘 + 텍스트 높이 맞춤 */
  justify-content: center;  /* 가로 가운데 정렬 */
    
}
#git-login-btn>p{
    margin: 0;
}